## import pandas library

In [7]:
import pandas as pd

## Load data and set ID as the Index

In [8]:
df = pd.read_csv('../data/auto.csv', index_col='ID')

## Count the number of observations

In [9]:
start_count = df.count()
start_count

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Drop duplicates

In [11]:
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep='last')
after_dorp_count = df.count()
after_dorp_count

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Check number of missing values in each column

In [12]:
missing_values = df.isnull().sum()
missing_values

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

## Drop with over 500 missing values

In [13]:
df = df.dropna(axis=1, thresh=len(df) - 500)

missing_values_after_drop = df.isnull().sum()
missing_values_after_drop

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

## Fill missing values in Refund

In [14]:
df['Refund'] = df['Refund'].fillna(method='ffill')
missing_values_after_filling_refund = df.isnull().sum()
missing_values_after_filling_refund

C:\Users\youse\AppData\Local\Temp\ipykernel_8320\684369809.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Refund'] = df['Refund'].fillna(method='ffill')

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

## Fill missing values in fines column

In [17]:
df['Fines'] = df['Fines'].fillna(df['Fines'].mean())
missing_values_after_filling_fines = df.isnull().sum()
missing_values_after_filling_fines

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Split Make_n_model into Make and Model calumns

In [19]:
df['Make'] = df['Make_n_model'].apply(lambda x: x.split(' ')[0])
df['Model'] = df['Make_n_model'].apply(lambda x: x.split(' ')[1] if len(x.split(' ')) > 1 else None)

df = df.drop(columns=['Make_n_model'])
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

## Save the dataframe to a auto.json file as records

In [25]:
df.to_json('../data/auto.json', orient='records')